opencv-python==4.6.0.66
tqdm==4.66.2
torch
torchvision
Pillow==10.2.0
openpyxl==3.1.2
filterpy==1.4.5
scikit-image==0.21.0
scikit-learn==1.4.0
xlsxwriter==3.1.9
einops==0.7.0
kornia==0.7.1
imutils==0.5.4
joblib==1.2.0
numpy==1.24.4
pyyaml==6.0.1
mmcv-full==1.6.2
